header#main-header {
  width: 100%;
  height: 60px;
  background: black;
  font-weight: bold;
  color: #FF7B00;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 30px Montserrat, sans-serif;
}